h4{
   font-size:xx-large;
   text-decoration:overline;
}
.second{
    color: aqua;
    /* display: none;
    visibility: hidden; */
}
.blog{
    background-color: aquamarine;
    border: 15px solid yellow;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    box-shadow: 10px 10px 10px grey;
    font-family:'Courier New', Courier, monospace;
}
.exercitationem{
    border: 5px solid greenyellow;
    /* display: block; */
    /* display: inline-block; */
    /* margin: 15px;
    padding: 15px; */
    /* The margin and padding doesn't work on inline elements. You have to apply either display:block; or display: inline-block; */
}
.header{
    font-size: x-large;
    text-align: center;
    height: 250px;
    background-image: url(Baymax\ \(2880x1800\).jpg);
    /* background-size:900px; */
    /* background-repeat: no-repeat; */
    background-repeat: repeat-x;
    /* background-repeat: repeat-y; */
    background-size: contain;
    /* background-size: cover; */
    background-position: 50%;
}   
.itaque{
    border: 2px solid peru;
    height: 70px;
    display: inline-block;
}